<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="todo">

	<select id="getList" resultType="com.example.spring05.dto.TodoDto">	
		select id, content, to_char(regdate, 'YYYY-MM-DD')regdate
		from todo
		order by id asc
	</select>
	
	<select id="getData" parameterType="int" resultType="com.example.spring05.dto.TodoDto">
		select id, content, regdate
		from todo
		where id=#{id}
	</select>
	
	<insert id="insert" parameterType="com.example.spring05.dto.TodoDto">
		insert into todo
		(id, content, regdate)
		values (todo_seq.nextval, #{content}, to_date(#{regdate}, 'YYYY-MM-DD'))
	</insert>


	<update id="update" parameterType="com.example.spring05.dto.TodoDto">
		update todo
		set content=#{content}, regdate=#{regdate}
		where id= #{id}
	</update>

	<delete id="delete" parameterType="int">
		delete from todo
		where id=#{id}
	</delete>
</mapper>