<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="container">
		<form th:action="@{/file/update}" method="post" enctype="multipart/form-data">
			<label for="num">
				파일 번호 : <input type="text" th:value="${num}" name="num" readonly />
			</label>
			<br />
			<label for="title">
				파일 이름 : <input type="text" name="title" placeholder=" 파일이름을 입력하세요 " required/>
			</label>
			<br/>
				파일을 선택하세요 : <input type="file" name="myFile" reuired />
			<br/>
			<button type="submit"> 업로드 </button>
			<button type="reset"> 취소 </button>
			<br />
			<a th:href="@{/file/list}">목록으로 돌아가기</a>			
		</form>
	</div>
</body>
</html>